<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div layout:fragment="contenido" class="contenido">

        <!-- Page Content -->
        <div class="container">

            <!-- Jumbotron Header -->
            <header class="h-100 p-5 bg-light border rounded-3 my-4">
                <h1 class="display-3">Bienvenido a DyE Technology</h1>
                <p class="lead">¡Tus compras mucho más faciles!</p>
            </header>

            <!-- Page Features -->
            <div class="row text-center">

                <div class="col-lg-3 col-md-6 mb-4" th:each="p: ${productos}">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{${p.imagen}}" alt="">
                        <div class="card-body">
                            <p class="card-text" th:text="${p.nombre}"></p>
                            <p class="card-text" th:text="${p.activo}"></p>
                        </div>
                        <div class="card-footer">
                            <a href="productohome.html" class="btn btn-success">Ver producto</a>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>

    <script th:fragment="js"></script>
</body>

</html>