<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div layout:fragment="contenido" class="contenido ">
        <div class="container">
            <h1 class="mt-4 mb-3">
                DyE Technology <small>Productos</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/}">Perfil</a></li>
                <li class="breadcrumb-item active">Buscar producto</li>
            </ol>
            
            <!--  -->
            <div>
                <p class="m-0 fs-3">Resultados para '<strong th:text="${query}"></strong>'</p>
                <span class="fs-5" th:text="${productos.size()} + ' resultados.'"></span>
            </div>

            <div class="row">
                <div class="col-md-12 order-md-first">
                    <p th:text="'Resultado para: '+${query}+'.'" class="m-0 fs-3 fw-bold"></p>
                    <span class="fs-5" th:text="${productos.size()} + ' resultados.'"></span>
                </div>

                <div class="col-md-3 order-md-last">
                    <div class="p-4 border rounded">
                        <div class="mb-3 d-flex flex-column align-items-start">
                            <p class="mb-1 fw-bold fs-5">Ordenar por</p>
                            <button class="mb-1 p-0 bg-transparent border-0" onclick="addUrlParameter('priceOrder', 'ASC')">Menor precio</button>
                            <button class="mb-1 p-0 bg-transparent border-0" onclick="addUrlParameter('priceOrder', 'DESC')">Mayor precio</button>
                        </div>

                        <div class="mb-3 d-flex flex-column align-items-start">
                            <p class="mb-1 fw-bold fs-5">Categoría</p>

                            <button 
                                th:each="c: ${categorias}" 
                                th:text="${c.nombre}"
                                th:onclick="|addUrlParameter('categoryId', '${c.id}')|"
                                class="mb-1 p-0 bg-transparent border-0">
                            </button>

                            <!-- <div th:each="c: ${categorias}" class="mb-3">
                                <h5 th:text="${c.nombre}" class="mb-1"></h5>

                                <div th:each="sc: ${subcategorias}" class="ps-3 mb-2">
                                    <button 
                                        th:if="${sc.categoria.id} == ${c.id}"
                                        th:text="${sc.nombre}"
                                        th:onclick="|addUrlParameter('categoryId', '${c.id}')|"
                                        class="mb-1 p-0 bg-transparent border-0"
                                    ></button>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>


                <div class="col-md-9 order-md-first">
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-6 mb-4" th:each="p: ${productos}">
                            <div class="card h-100 shadow bg-body-tertiary rounded">
                                <div class="product-img-container">
                                    <img class="card-img-top product-img" th:src="@{${p.imagen}}" alt="Imagen Producto">
                                </div>

                                <div class="card-body">
                                    <p class="card-text fs-5 fw-bold" th:text="${p.nombre}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="'$'+${p.precio}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="${p.activo} ? 'En Stock' : 'Sin Stock'"
                                        th:classappend="${p.activo} ? 'text-success' : 'text-danger'"></p>
                                </div>
                                <div class="card-footer">
                                    <a th:href="@{/detalleproducto/} + ${p.id}" class="btn btn-success">Ver
                                        producto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/js/ordenes.js}" th:fragment="js"></script>
</body>

</html>