<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div layout:fragment="contenido" class="contenido ">
        <div class="container">
            <h1 class="mt-4 mb-3">
                DyE Technology <small>Productos</small>
            </h1>

            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                <li class="breadcrumb-item"><a th:href="@{/}">Perfil</a></li>
                <li class="breadcrumb-item active">Buscar producto</li>
            </ol>
        </div>
        <div class="container">
            

            <div class="row">
                    <div class="col-md-12 order-md-first">
                        <p th:text="'Resultado para: '+${query}+'.'" class="m-0 fs-3 fw-bold"></p>
                        <span class="fs-5" th:text="${productos.size()} + ' resultados.'"></span>
    
                        <div class="mb-2 pull-right">
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Ordenar
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Mayor Precio</a></li>
                                    <li><a class="dropdown-item" href="#">Menor Precio</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                <div class="col-md-3 order-md-last">
                    <p>
                        <button class="d-block d-md-none btn btn-primary btn-block mb-3" type="button"
                            data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample">
                            Filtros
                        </button>
                    </p>
                    <div class="collapse d-md-block mb-3" id="collapseExample">
                        <div class="card shadow p-3">
                                <strong class="fs-5 card-title">Seleccionar Filtros:</strong>
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Categorias
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 order-md-first">
                    <div class="row text-center">
                        <div class="col-lg-3 col-md-6 mb-4" th:each="p: ${productos}">
                            <div class="card h-100 shadow bg-body-tertiary rounded">
                                <div class="product-img-container">
                                    <img class="card-img-top product-img" th:src="@{${p.imagen}}" alt="Imagen Producto">
                                </div>

                                <div class="card-body">
                                    <p class="card-text fs-5 fw-bold" th:text="${p.nombre}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="'$'+${p.precio}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="${p.activo} ? 'En Stock' : 'Sin Stock'"
                                        th:classappend="${p.activo} ? 'text-success' : 'text-danger'"></p>
                                </div>
                                <div class="card-footer">
                                    <a th:href="@{/detalleproducto/} + ${p.id}" class="btn btn-success">Ver
                                        producto</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script th:src="@{/js/ordenes.js}" th:fragment="js"></script>
</body>

</html>