<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout}">

<head>
  <title th:text="${titulo}"></title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div layout:fragment="contenido" class="conntenido">

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->

      <ol class="breadcrumb mt-4">
        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
        <li class="breadcrumb-item"><a th:href="@{/compras}">Compras</a></li>
        <li class="breadcrumb-item active">Detalle de Compra</li>
      </ol>

      <!-- Blog Post -->
      <div class="card mb-4 detalleOrdenCard">
        <div class="card-header" th:each="orden:${ordenes}">
          <h3><i class="fa-solid fa-cart-flatbed"></i> <small class="fs-2" th:text="'Orden: #' + ${orden.id}">Orden
              #1</small>
            <small class="fs-5 fst-italic text-muted"
              th:text="'Generada '+ ${#dates.format(orden.fechaCreacion, 'dd-MM-yyyy HH:mm')}"> Generada 01/01/2023
              23:30:16</small>
            <!--AGREGAR UN ESTADO ACONTINUACIÓN Y CAMBIAR EL COLOR DEL MISMO.-->
            <small class="pull-right mt-2"> Estado: <small class="estado" id="estadoText"
                th:text="${orden.estado} + '.'"></small></small>
            <input type="text" id="estado" th:value="${orden.estado}" class="invisible position-absolute">
          </h3>

        </div>
        <div class="card-body ">
          <div class="container">
            <div class="row justify-content-start" th:each="orden:${ordenes}">
              <div class="col-6 informacionesCardCliente">
                <div class="container">
                  <h4 class="fw-bold"><i class="fa-solid fa-id-card"></i> Datos del Cliente</h4>
                  <hr>
                  <!--DATOS CLIENTES-->
                  <h6 class="fw-bold">Apellido y Nombre:
                    <small class="fw-light" th:text="${orden.usuario.apellido} + ' ' + ${orden.usuario.nombre}"></small>
                  </h6>
                  <h6 class="fw-bold">DNI:
                    <small class="fw-light"
                      th:text="${orden.usuario.dni != ''} ? ${orden.usuario.dni} : '¡No hay datos!'"
                      th:classappend="${orden.usuario.dni != ''} ?  'fw-light' : 'text-danger fw-bold'"></small>
                  </h6>
                  <h6 class="fw-bold">Dirección:
                    <small class="fw-light"
                      th:text="${orden.usuario.direccion != ''} ? ${orden.usuario.direccion} : '¡No hay datos!'"
                      th:classappend="${orden.usuario.direccion != ''} ?  'fw-light' : 'text-danger fw-bold'"></small>
                  </h6>
                  <h6 class="fw-bold">Nro. Telefono:
                    <small class="fw-light"
                      th:text="${orden.usuario.telefono != ''} ? ${orden.usuario.telefono} : '¡No hay datos!'"
                      th:classappend="${orden.usuario.telefono != ''} ?  'fw-light' : 'text-danger fw-bold'"> </small>
                  </h6>
                  <!--FIN DATOS CLIENTES-->
                </div>
              </div>
              <div class="col-6">
                <div class="container">
                  <h4 class="fw-bold"><i class="fa-solid fa-circle-info"></i> Información del Pedido</h4>
                  <hr>
                  <h6 class="fw-bold">Observaciones: </h6>
                  <p th:text="${orden.observaciones != ''} ?  ${orden.observaciones} : '¡No hay datos!'"
                    th:classappend="${orden.observaciones != ''} ?  'fw-light' : 'text-danger fw-bold'"></p>
                </div>
              </div>
            </div>

            <hr>

            <div class="container">
              <h4><i class="fa-solid fa-cart-shopping"></i> Resumen de Compra</h4>
              <table class="table table-hover table-detalleOrden mt-3 border border-info">
                <thead class="table-info">
                  <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio Unitario</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="item: ${ordenes.ordenItems}">
                    <td th:text="${item.producto.nombre}"></td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(item.precio, 0, 'POINT', 0, 'DEFAULT')}"></td>
                    <td th:text="${#numbers.formatDecimal(item.cantidad, 0, 'POINT', 0, 'DEFAULT')}"></td>
                    <td th:text="'$ ' + ${#numbers.formatDecimal(item.total, 0, 'POINT', 0, 'DEFAULT')}"></td>
                  </tr>
                  <tr>
                    <td>
                      <small>Total</small>
                    </td>
                    <td></td>
                    <td></td>
                    <td th:each="orden:${ordenes}"><strong
                        th:text="'$ '+ ${#numbers.formatDecimal(orden.total, 0, 'POINT', 0, 'DEFAULT')}">$0</strong>
                    </td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


          </div>
        </div>
        <div class="card-footer">
          <p class="text-muted"><strong>Incluye los Impuestos como el IVA.</strong></p>
        </div>
      </div>
    </div>
    <!-- /.container -->

  </div>

  <script th:src="@{/js/ordenes.js}" th:fragment="js"></script>
</body>

</html>