<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    layout:decorate="~{layout/layout}">

<head>
    <title th:text="${titulo}"></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <div layout:fragment="contenido" class="conntenido">
        <!-- Page Content -->
        <div class="container mt-3">

            <ol class="breadcrumb" th:each="p : ${productos}">
                <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                <li class="breadcrumb-item active" th:text="${p.categoria}">Producto</li>
            </ol>

            <!-- Blog Post -->
            <div class="card mb-4" th:each="p : ${productos}">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <a href="#">
                                <img class="img-fluid rounded" th:src="@{${p.imagen}}" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-6">
                            <form th:action="@{/carrito}" method="POST">
                                <!-- METODO POR OCULTAR EL ID, MODIFICAR MAS ADELANTE SOLO DE PRUEBA!-->
                                <input type="hidden" th:value="${p.id}" name="id">
                                <h2 class="card-title fw-bold" th:text="${p.nombre}">
                                    Nombre producto
                                </h2>

                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <h4 class="fw-bold">Precio</h4>
                                        <h5 th:text="'$' + ${p.precio}"></h5>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="fw-bold">Descripción</h4>
                                        <p th:text="${p.descripcion}">Descripción:</p>
                                    </li>
                                    <li class="list-group-item">
                                        <h4 class="fw-bold">Estado</h4>
                                        <h5 class="fw-bold" th:text="${p.activo} ? 'En Stock' : 'Sin Stock'"  th:classappend="${p.activo} ? 'text-success' : 'text-danger'"></h5>
                                    </li>



                                    <li class="list-group-item">
                                     
                                    <div class="col-md-3 pull-left mt-2 pl-0 mb-3 cantidad_div">
                                        <label class="control-label cantidad mt-0">Cantidad</label>
                                        <span class="bmd-form-group is-filled"><input class="form-control pl-2 cantidad_comprar" type="number" id="cantidad" name="cantidad" value="1"></span>
                                        
                                    </div>
                                    <button type="submit" class="btn btn-dark btn-lg">
                                        <i class="fas fa-shopping-cart"></i> Comprar
                                    </button>
                                    </li>
                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>

    <script th:fragment="js"></script>
</body>

</html>