<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout}">

<head>
  <title th:text="${titulo}">TODO supply a title</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- <link href="../static/css/mystyle.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
    <div layout:fragment="contenido" class="contenido">
        <div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://p4.wallpaperbetter.com/wallpaper/1005/768/1000/razer-headphones-wallpaper-preview.jpg"
                         alt="">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Example headline.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg"
                         alt="">

                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Un lugar para los Gamers.</h1>
                                <p>Productos de excelente calidad para Gamer's ¿Que esperas para adquirir un equipo?</p>
                                <p><a class="btn btn-lg btn-info" href="#">Ver Ofertas</a></p>
                            </div>
                        </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://www.10wallpaper.com/wallpaper/1366x768/1701/Samsung_Cell_phone_communication-Brand_HD_Wallpaper_1366x768.jpg"
                         alt="">

                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                            </div>
                        </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr>

            <!-- Page Content -->
            <div class="container">

                <!-- Page Features -->
                <div class="row text-center">

                    <div class="col-lg-2 col-md-3 mb-4" th:each="p: ${productos}">
                        <div class="card h-100">
                            <div class="product-img-container">
                                <img class="card-img-top product-img" th:src="@{/assets/{img} (img = ${p.imagen})}" alt="Imagen Producto">
                            </div>
                                
                            <div class="card-body">
                                <p class="card-text fs-5 fw-bold" th:text="${p.nombre}"></p>
                                <p class="card-text fs-5 fw-bold" th:text="'$'+${p.precio}"></p>
                                <p class="card-text fs-5 fw-bold" th:text="${p.activo} ? 'En Stock' : 'Sin Stock'"  th:classappend="${p.activo} ? 'text-success' : 'text-danger'"></p>
                            </div>
                            <div class="card-footer">
                                <a th:href="@{/detalleproducto/} + ${p.id}" class="btn btn-success">Ver producto</a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <br>

    </div>
    
    <script th:fragment="js" th:src="@{/js/home.js}"></script>
</body>

</html>