<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
  layout:decorate="~{layout/layout}">

<head>
  <title th:text="${titulo}">TODO supply a title</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="../static/css/mystyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div layout:fragment="contenido" class="contenido">
        <div id="myCarousel" class="carousel slide mb-4" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
                        aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://wallpapercave.com/wp/wp6658601.jpg"
                         alt="">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Example headline.</h1>
                                <p>Some representative placeholder content for the first slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
                            </div>
                        </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://wallpapercave.com/wp/wp8268891.jpg"
                         alt="">

                        <div class="container">
                            <div class="carousel-caption">
                                <h1>Another example headline.</h1>
                                <p>Some representative placeholder content for the second slide of the carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
                            </div>
                        </div>
                </div>
                <div class="carousel-item">
                    <img class="bd-placeholder-img" width="100%" height="100%" src="https://wallpapercave.com/wp/wp8268908.jpg"
                         alt="">

                        <div class="container">
                            <div class="carousel-caption text-end">
                                <h1>One more for good measure.</h1>
                                <p>Some representative placeholder content for the third slide of this carousel.</p>
                                <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
                            </div>
                        </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <hr>

            <!-- Page Content -->
            <div class="container">

                <!-- Page Features -->
                <div class="row text-center">

                    <div class="col-lg-3 col-md-6 mb-4" th:each="p: ${productos}">
                        <div class="card h-100">
                            <img class="card-img-top" th:src="@{${p.imagen}}" alt="Imagen Producto">
                                <div class="card-body">
                                    <p class="card-text fs-5 fw-bold" th:text="${p.nombre}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="'$'+${p.precio}"></p>
                                    <p class="card-text fs-5 fw-bold" th:text="${p.activo} ? 'En Stock' : 'Sin Stock'"  th:classappend="${p.activo} ? 'text-success' : 'text-danger'"></p>
                                </div>
                                <div class="card-footer">
                                    <a th:href="@{/detalleproducto/} + ${p.id}" class="btn btn-success">Ver producto</a>
                                </div>
                        </div>
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

            <br>

    </div>
    
    <script th:fragment="js" th:src="@{/js/home.js}"></script>
</body>

</html>